*{
    padding: 0;
    margin: 0;
}

:root{
    --ukuran-font:16px;
    --latar-color:#0f1c3b;
    --tombol-color:#eb0f5d;
    --text-color:white;
}

div{
    /* border: 1px solid yellow; */
}


/* header start */
body{
    font-family: 'Lato' , 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-container{
    font-size: var(--ukuran-font);
    color: var(--text-color);
    background-color:var(--latar-color);
    padding: 20px 50px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
}

.brand-container{
    margin-right: 30px;
}

.menu-container{
    padding-top: 12px;
    display: flex;
}

.menu{
    font-weight: 50;
    margin-right: 20px;
    transition: 1s;
}

.menu span{
    font-size: 12px;
}

.menu:hover{
    color: var(--tombol-color);
    cursor: pointer;
}


.menukanan-container{
    margin-left: auto;
    /* padding-top: 12px; */
    display: flex;
}

.menukanan-container .signin{
    margin-right: 20px;
    padding-top: 12px;
}

.menukanan-container .get-played{
    border: 2px solid var(--tombol-color);
    width: 130px;
    font-size: 15px;
    border-radius: 25px;
    padding: 10px 0 0 23px;
}

.menukanan-container .get-played span{
    font-size: 12px;
}

.bars-container{
    display: none;
    padding-top: 12px;
}


.brand{
    height: 43px;
    width: 115px;
}
/* header ends */

/* jumbotron1 starts */

.jumbotron1-container{
    height: 87vh;
    background-image: linear-gradient( 179.7deg,  rgba(15,28,59,1) 45.3%, rgba(32,53,105,1) 157.5% );
    margin-top: 85px;
    color: white;
    /* position: absolute; */
}

.jumbotron1-component{
    padding-top: 150px;
}


.jumbotron1-textbig{
    text-align: center;
    font-family: 'Overpass', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size : 50px;
    /* color: var(--text-color); */
    font-weight: 900;
}


.jumbotron1-textsecond{
    text-align: center;
    font-size: 24px;
    line-height: 38.4px;
    font-weight: 300;
}


.jumbotron1-btn{
    display: flex;
    justify-content: center;
}

.btn-container{
    border: 2.5px solid var(--tombol-color);
    width: 130px;
    font-size: 18px;
    border-radius: 25px;
    text-align: center;
    padding: 10px 25px 10px 20px;
    margin-top: 20px;
    background-color: var(--tombol-color);
}

.btn-container:hover{
    background-color: white;
    color: var(--tombol-color);
    border: 2.5px white;
    transition: 1s;
}


.img-container{
    margin: 80px 17% 0 26%;
    height: 687px;
    width: 950px; 
    position: absolute;
}

.imgindex1{
    /* margin: 80px 17% 0 27%;  */
    margin-left: 5px;
    border-radius: 2%;
    position: absolute;
    z-index: 0;
}

.imgindex2{
    /* margin-bottom: 100%; */
    position: absolute;
    z-index: 1;
    right: 80%;
    top: 20%;

}
.imgindex3{
    /* margin-bottom: 100%; */
    position: absolute;
    z-index: 1;
    left: 75%;
    bottom: 87%;
}
.imgindex4{
    /* margin-bottom: 100%; */
    position: absolute;
    z-index: 2;
    left: 80%;
    bottom: 48%;

}




/* jumbotron1 endss */






/* jumbotron2 starts */

.jumbotron2-container{
    height: 38vh;
    background-color: white;
    /* margin-top: 85px; */
    color: white;
    margin: 1px;
    /* border: green 1px solid; */
}

.userlogo-container{
    height: 385px;
    margin-top: 450px;
    /* display: flex; */
}

.userlogo-component{
    /* border: blue 1px solid!important; */
    margin: 0 400px;
}

.logo-container1{
    display: flex;
    padding-left: 200x;
    padding-right: 100px;
}
.logo-container2{
    display: flex;
}
   

.logo{
    justify-content: center;
    text-align: center;
    height: 48px;
    width: 160px;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    margin-left: 45px;
    margin-bottom: 75px;
}
/* jumbotron2 ends */







/* jumbotron3 starts */

.jumbotron3-container{
    height: 60vh;
    width: 107vh;
    display: flex;
    /* border: red 2px solid; */
    /* position: absolute; */
    padding-left: 24%;
}

.jumbotron3-component{
    height: 485px;
    width: 560px;
    
}
.jumbotron3-component2{
    height: 485px;
    width: 560px;
    
}























/* jumbotron3 ends */









/* for tablet starts */

@media only screen and (max-width: 1200px){
    .menu-container{
        display: none;
    }

    .header-container{
        padding: 25px 0 10px 25px ;
    }

    .brand{
        height: 31px;
        width: 105px;
    }
    
    .menukanan-container{
        display: none;
    }
    .bars-container{
        display: block;
        margin-left: auto;
        font-size: 25px;
        padding-top: 1px;
        padding-bottom: 7px;
        margin-right: 15px;
    }
}

/* for table ends */